body{
  font-family: 'Arial',sans-serif;
}

.grid{
  background-color: crimson;
  display: grid;
  padding: 20px;
  /* Distance between columns and rows */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto;
}

.grid-item{
  background-color: ghostwhite;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
